doctype html
html
	head
		title my jade template
		link(rel="stylesheet" href="assets/css/animate.css")
		script(src="assets/js/wow.js")
		script new WOW().init();

		// Latest compiled and minified CSS
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")

		// Optional theme
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css")

		// Latest compiled and minified JavaScript
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
	body
		h1 Hello
		.container
			section
				h1.wow.fadeIn(data-wow-duration="2s")
					| animation 01
				p.wow.fadeIn(data-wow-duration="2s")
					| data-wow-duration: Change the animation duration
					| data-wow-delay: Delay before the animation starts
					| data-wow-offset: Distance to start the animation (related to the browser bottom)
					| data-wow-iteration: Number of times the animation is repeated
					| data-wow-duration: Change the animation duration
					| data-wow-delay: Delay before the animation starts
					| data-wow-offset: Distance to start the animation (related to the browser bottom)
					| data-wow-iteration: Number of times the animation is repeated
					| data-wow-duration: Change the animation duration
					| data-wow-delay: Delay before the animation starts
					| data-wow-offset: Distance to start the animation (related to the browser bottom)
					| data-wow-iteration: Number of times the animation is repeated
					| data-wow-duration: Change the animation duration
					| data-wow-delay: Delay before the animation starts
					| data-wow-offset: Distance to start the animation (related to the browser bottom)
					| data-wow-iteration: Number of times the animation is repeated


			section
				h1.wow.slideInRight(data-wow-offset="50" data-wow-duration="1s")
					| animation 02
				p.wow.slideInRight(data-wow-offset="50" data-wow-duration="1s" data-wow-delay="2")
					| data-wow-duration: Change the animation duration
					| data-wow-delay: Delay before the animation starts
					| data-wow-offset: Distance to start the animation (related to the browser bottom)
					| data-wow-iteration: Number of times the animation is repeated
					| data-wow-duration: Change the animation duration
					| data-wow-delay: Delay before the animation starts
					| data-wow-offset: Distance to start the animation (related to the browser bottom)
					| data-wow-iteration: Number of times the animation is repeated
					| data-wow-duration: Change the animation duration
					| data-wow-delay: Delay before the animation starts
					| data-wow-offset: Distance to start the animation (related to the browser bottom)
					| data-wow-iteration: Number of times the animation is repeated
					| data-wow-duration: Change the animation duration
					| data-wow-delay: Delay before the animation starts
					| data-wow-offset: Distance to start the animation (related to the browser bottom)
					| data-wow-iteration: Number of times the animation is repeated
			section
				h1.wow.slideInRight(data-wow-offset="100" data-wow-duration="1s")
					| animation 03
				p.wow.slideInRight(data-wow-offset="100" data-wow-duration="1s" data-wow-delay="2")
					| data-wow-duration: Change the animation duration
					| data-wow-delay: Delay before the animation starts
					| data-wow-offset: Distance to start the animation (related to the browser bottom)
					| data-wow-iteration: Number of times the animation is repeated
					| data-wow-duration: Change the animation duration
					| data-wow-delay: Delay before the animation starts
					| data-wow-offset: Distance to start the animation (related to the browser bottom)
					| data-wow-iteration: Number of times the animation is repeated
					| data-wow-duration: Change the animation duration
					| data-wow-delay: Delay before the animation starts
					| data-wow-offset: Distance to start the animation (related to the browser bottom)
					| data-wow-iteration: Number of times the animation is repeated
					| data-wow-duration: Change the animation duration
					| data-wow-delay: Delay before the animation starts
					| data-wow-offset: Distance to start the animation (related to the browser bottom)
					| data-wow-iteration: Number of times the animation is repeated
			